<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head style="background-color:black;" >
        <title>login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="../static/style.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
       
    </head>
    <body style="background-color:#B8D9D6" >

        <img  src="..\static\logo.jpg">
       <!-- <img src="..\static\imagen inicio.jpg">-->

        <!-- botones y texto primera vista -->
        <div   style="text-align: center; ">          
            <p ><i><strong> "El único presupuesto bueno <br> es el presupuesto equilibrado"</strong></i></p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login">
                Iniciar Sesion
            </button>
            <br><br>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#register">
                Registrarse
            </button>



        </div>
        <br>
        <br>
       <!--Modal Login -->
       <div  class="modal" id="login">
       <div class="modal-dialog">
       <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Iniciar Sesion</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text"> Nunca compartiremos tu correo electrónico con nadie más. <i><strong>-|CTRL PLUS|-</strong></i></div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">no te olvides la contraseña</label>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
              </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#register">
                Registrarsee
               </button>
          
        </div>
        </div>
        </div>
        </div>

  
        <!-- Modal Registrarse -->
        <div class="modal" id="register">
        <div class="modal-dialog">
        <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Crea tu cuenta</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
            <span class="circle"><i class="fa fa-check"></i></span>

                  <h5 class="mt-3">Registrate a <strong>Ctrl Plus</strong></strong> <br> cada dia mas se administran mejor</h5>
                  <small class="mt-2 text-muted">Somos <strong>Control Pluss</strong> una app web que te ayudara a visualizar tus ingresos y gastos.....</small>
                      
                  <br>
<br>
                  <div class="form-input">

                    <i class="fa fa-envelope"></i>
                    <input type="text" class="form-control" placeholder="Correo Electronico">
                    
                  </div>

                  <div class="form-input">

                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" placeholder="Nombre Completo">
                    
                  </div>


                  <div class="form-input">

                    <i class="fa fa-lock"></i>
                    <input type="text" class="form-control" placeholder="Contraseña">
                    
                  </div>
<br>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Estoy de acuerdo con todos los datos.
                    </label>
                  </div>


                  <button aling="left" class="btn btn-primary mt-4 signup">Registrase</button>


        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">

                <p>ya tienes cuenta? </p> <button style="" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login">
                    Iniciar Sesion
                </button>
     
        </div>
  
      </div>
    </div>
  </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
         
    </body>

</html>
