*{
  margin: 0px;
  padding: 0px;
}
/*-----------------------Style vista LOGIN-----------------------*/

div#general{
  margin: auto;
  margin-top: 50px;
  width: 1280px;
  height: 800px;
  background-color:azure;

}

div#divbot{
  float:right ;
  background-color:transparent;
}

div#imagenlogin{
  width: 920px;
  height: 800px;
  background-image:url(../static/foto\ iniciologin.jpg);
}


#botonimagen{
  background-color: aquamarine;
}





/*-----------------------Final vista LOGIN-----------------------*/

/*-----------------------Inicio vista Ingresos-Gastos-----------------------*/

#generalingresos{
  margin: auto;
  margin-top: 50px;
  width: 1280px;
  height: 800px;
  background-color:azure;
}

/*-----------------------Final vista Ingreos-Gastos------------------------*/

